.book_content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.book_title{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.title{
    color:gold;
    font-size: 2.2em;
    font-weight: 600;
}
.loading{
    text-align: center;
}

